body{
    Margin :0px;
    padding :0px;
}
.main{
    width:100%;
    background-position:center;
    background-size:cover;
    height :100vh;
    position :relative;
    font-family:sans-serif;
}
.nav ul{
    width:25%;
    display :inline;
    margin:auto;
    padding :10px 0;
    align-item:center;
    justify-content:space-between;
    float: right ;
    }
    .nav ul li{
        list-style:none;
        display :inline-block;
        padding:5px 8px;
    }
.nav ul li a{
    font-size:16px;
    font-weight:bold;
    text-decoration:none;
    color:darkslategray;
    margin-top:-3%;
  
    
}
.nav ul li a:hover{
    color:pink;
}
.info{
    margin-left:7%;
    margin-top:6%;
}
.info h1{
    font-size:65px;
    color: black ;
}
.info h3{
    font-size:18px;
    letter-spacing:1px;
    line-height:24px;
    
}
.info span{
    color:red;
}
.info a{
    text-decoration:none;
    color: white;
    background-color: black ;
    margin:26px 0;
    padding:10px 18px;
    border-radius:10px;
    display: inline-block;
    
}
.info a:hover{
   background-color :blue;
}
